<!DOCTYPE html>
<html lang="en">

{% load static %}
    <head>
      <title>Discover the top streamed music and songs online on Soundcloud</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    </head>
    <body>
        <header>
            <nav>
                <div id="nav-whole">
                  <ul>
                    <li id="nav-home" href="#home">Home</li>
                    <li id="nav-stream" href="#stream">Stream</li>
                    <li id="nav-library" href="#library">Library</li>
                    <input id="searchbox" type="text" value="Search for artists, brands, tracks, podcasts">
                    <li id="nav-signin" href="#signin">Sign In</li>
                    <li id="nav-createaccount" href="#createaccount">Create account</li>
                    <li id="nav-upload" href="#upload">Upload</li>
                  </ul>
                </div>
            </nav>
        </header>
        <br>
        <br>
        <br>
        <main>
            <section id="first-theme">
                <div class="top">
                    <h1>Charts: Top 50</h1>
                    <h3>The most played tracks on SoundCloud this week</h3>
                    <br>
                    <a href="https://soundcloud.com/discover/sets/charts-top:all-music:kr">
                    <figure id="first-theme-picture">
                        <img src="{% static 'image/신호등캡쳐.JPG' %}"/>
                        <figcaption>All music genres<br>Top 50</figcaption>
                    </figure>
                    </a>
                    <a href="#">
                    <figure id="first-theme-picture">
                        <img src="{% static 'image/신호등.PNG' %}"/>
                        <figcaption>Global Beats<br>Top 50</figcaption>
                    </figure>
                    </a>
                    <a href="#">
                        <figure id="first-theme-picture">
                            <img src="{% static 'image/first-theme-picture3.JPG' %}"/>
                            <figcaption>Hip-Hop & Rap<br>Top 50</figcaption>
                        </figure>
                    </a>
                    <a href="#">
                        <figure id="first-theme-picture">
                            <img src="{% static 'image/first-theme-picture4.JPG' %}"/>
                            <figcaption>Pop<br>Top 50</figcaption>
                        </figure>
                    </a>
                </div>
                <hr>
            </section>


            <section id="second-theme">
                <div class="newhot">
                    <h1>Charts: New & hot</h1>
                    <h3>Up-and-coming tracks on SoundCloud</h3>
                    <br>
                    <a href="https://soundcloud.com/discover/sets/charts-top:all-music:kr">
                    <figure id="first-theme-picture">
                        <img src="{% static 'image/신호등캡쳐.JPG' %}"/>
                        <figcaption>All music genres<br>Top 50</figcaption>
                    </figure>
                    </a>
                    <a href="#">
                    <figure id="first-theme-picture">
                        <img src="{% static 'image/신호등.PNG' %}"/>
                        <figcaption>Global Beats<br>Top 50</figcaption>
                    </figure>
                    </a>
                    <a href="#">
                        <figure id="first-theme-picture">
                            <img src="{% static 'image/first-theme-picture3.JPG' %}"/>
                            <figcaption>Hip-Hop & Rap<br>Top 50</figcaption>
                        </figure>
                    </a>
                    <a href="#">
                        <figure id="first-theme-picture">
                            <img src="{% static 'image/first-theme-picture4.JPG' %}"/>
                            <figcaption>Pop<br>Top 50</figcaption>
                        </figure>
                    </a>
                </div>
                <hr>
            </section>

            
            <section id="third-theme">
                <div class="study">
                    <h1>Study</h1>
                    <h3>Popular playlist from the SoundCloud community</h3>
                    <br>
                    <a href="https://soundcloud.com/discover/sets/charts-top:all-music:kr">
                    <figure id="first-theme-picture">
                        <img src="{% static 'image/신호등캡쳐.JPG' %}"/>
                        <figcaption>All music genres<br>Top 50</figcaption>
                    </figure>
                    </a>
                    <a href="#">
                    <figure id="first-theme-picture">
                        <img src="{% static 'image/신호등.PNG' %}"/>
                        <figcaption>Global Beats<br>Top 50</figcaption>
                    </figure>
                    </a>
                    <a href="#">
                        <figure id="first-theme-picture">
                            <img src="{% static 'image/first-theme-picture3.JPG' %}"/>
                            <figcaption>Hip-Hop & Rap<br>Top 50</figcaption>
                        </figure>
                    </a>
                    <a href="#">
                        <figure id="first-theme-picture">
                            <img src="{% static 'image/first-theme-picture4.JPG' %}"/>
                            <figcaption>Pop<br>Top 50</figcaption>
                        </figure>
                    </a>
                </div>
                <hr>
            </section>


            <section id=fourth-theme>
                <div class="chill">
                    <h1>Chill</h1>
                    <h3>Popular playlists from the SoundCloud community</h3>
                    <br>
                    <a href="https://soundcloud.com/discover/sets/charts-top:all-music:kr">
                    <figure id="first-theme-picture">
                        <img src="{% static 'image/신호등캡쳐.JPG' %}"/>
                        <figcaption>All music genres<br>Top 50</figcaption>
                    </figure>
                    </a>
                    <a href="#">
                    <figure id="first-theme-picture">
                        <img src="{% static 'image/신호등.PNG' %}"/>
                        <figcaption>Global Beats<br>Top 50</figcaption>
                    </figure>
                    </a>
                    <a href="#">
                        <figure id="first-theme-picture">
                            <img src="{% static 'image/first-theme-picture3.JPG' %}"/>
                            <figcaption>Hip-Hop & Rap<br>Top 50</figcaption>
                        </figure>
                    </a>
                    <a href="#">
                        <figure id="first-theme-picture">
                            <img src="{% static 'image/first-theme-picture4.JPG' %}"/>
                            <figcaption>Pop<br>Top 50</figcaption>
                        </figure>
                    </a>
                </div>
                <hr>
            </section>


            <section id="fith-theme">
                <div class="party">
                    <h1>Party</h1>
                    <h2>Popular playlists from the SoundCloud community</h2>
                    <br>
                    <a href="https://soundcloud.com/discover/sets/charts-top:all-music:kr">
                    <figure id="first-theme-picture">
                        <img src="{% static 'image/신호등캡쳐.JPG' %}"/>
                        <figcaption>All music genres<br>Top 50</figcaption>
                    </figure>
                    </a>
                    <a href="#">
                    <figure id="first-theme-picture">
                        <img src="{% static 'image/신호등.PNG' %}"/>
                        <figcaption>Global Beats<br>Top 50</figcaption>
                    </figure>
                    </a>
                    <a href="#">
                        <figure id="first-theme-picture">
                            <img src="{% static 'image/first-theme-picture3.JPG' %}"/>
                            <figcaption>Hip-Hop & Rap<br>Top 50</figcaption>
                        </figure>
                    </a>
                    <a href="#">
                        <figure id="first-theme-picture">
                            <img src="{% static 'image/first-theme-picture4.JPG' %}"/>
                            <figcaption>Pop<br>Top 50</figcaption>
                        </figure>
                    </a>
                </div>
                <hr>
            </section>

            <section id="sixth-theme">
                <div class="relax">
                    <h1>Relax</h1>
                    <h2>Popular playlists from the SoundCloud community</h2>
                    <br>
                    <a href="https://soundcloud.com/discover/sets/charts-top:all-music:kr">
                    <figure id="first-theme-picture">
                        <img src="{% static 'image/신호등캡쳐.JPG' %}"/>
                        <figcaption>All music genres<br>Top 50</figcaption>
                    </figure>
                    </a>
                    <a href="#">
                    <figure id="first-theme-picture">
                        <img src="{% static 'image/신호등.PNG' %}"/>
                        <figcaption>Global Beats<br>Top 50</figcaption>
                    </figure>
                    </a>
                    <a href="#">
                        <figure id="first-theme-picture">
                            <img src="{% static 'image/first-theme-picture3.JPG' %}"/>
                            <figcaption>Hip-Hop & Rap<br>Top 50</figcaption>
                        </figure>
                    </a>
                    <a href="#">
                        <figure id="first-theme-picture">
                            <img src="{% static 'image/first-theme-picture4.JPG' %}"/>
                            <figcaption>Pop<br>Top 50</figcaption>
                        </figure>
                    </a>
                </div>
                <hr>
            </section>

            <section id="seventh-theme">
                <div class="sleep">
                    <h1>Sleep</h1>
                    <h2>Popular playlists from the SoundCloud community</h2>
                    <br>
                    <a href="https://soundcloud.com/discover/sets/charts-top:all-music:kr">
                    <figure id="first-theme-picture">
                        <img src="{% static 'image/신호등캡쳐.JPG' %}"/>
                        <figcaption>All music genres<br>Top 50</figcaption>
                    </figure>
                    </a>
                    <a href="#">
                    <figure id="first-theme-picture">
                        <img src="{% static 'image/신호등.PNG' %}"/>
                        <figcaption>Global Beats<br>Top 50</figcaption>
                    </figure>
                    </a>
                    <a href="#">
                        <figure id="first-theme-picture">
                            <img src="{% static 'image/first-theme-picture3.JPG' %}"/>
                            <figcaption>Hip-Hop & Rap<br>Top 50</figcaption>
                        </figure>
                    </a>
                    <a href="#">
                        <figure id="first-theme-picture">
                            <img src="{% static 'image/first-theme-picture4.JPG' %}"/>
                            <figcaption>Pop<br>Top 50</figcaption>
                        </figure>
                    </a>
                </div>
                <hr>
            </section>

        </main>
    </body>
</html>